body {
    margin-top: 100px;
    background-color: grey;
    margin-left: 0;
}

#header-img {
    width: 218px;
    height: 25px;
    margin-top: 25px;
    margin-right: 10px;
}


.header-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.header-ul li {
    float: right;
    height: 60px;
    margin-top: 10px;
    margin-left: 100px;
    width: 100px;
    background-color: green;
}

.header-ul li a {
   display: block;
    
    height: 60px;
    background-color: blueviolet;
}

#header {
    display: flex;
    float: right;
    position: fixed;
    top: 0;
    text-align: center;
    background-color: aqua;
    padding: 0px 20px 0px 100px;
    justify-content: space-around;
    width: 100%;
    
}

#nav-bar {
    
    display: flex;
    padding: auto;
    
    list-style: inside;
    
}

.container {
    margin-left: 25%;
    margin-right: 25%;
}


@media (max-width: 800px) {
    header {
      flex-wrap: wrap;
    }
  }

  #box {
    background-color: lightyellow;
    box-shadow: 5px 5px 10px 1px #000;

  }

  #video{
   
    height: 300px;
    width: 95%;
    margin: 10px ;

  }